.container{
  width: 100%;
  margin: 0 auto;
  background:
  padding: 20px;
}
.parallax{
    min-height: 500px;
    width: 100%;
    background: transparent;
}
body{
  width: 100%;
}
p{
  color: #f2f4f7;
  font-family: 'Bangers', cursive;
  font-size: 5.0em;
  letter-spacing: 3px;


}
h1{
  color: #f2f4f7;
  font-family: 'Frijole', cursive;
  font-size: 7.0em;
  margin: 0 auto;
  letter-spacing: 4px;
  line-height:
  background-color:black;
}
h2{
  font-family: 'Bangers', cursive;
  font-size: 3.0em;
  color:white;
  margin-left: 10%;
  text-transform: capitalize;
  letter-spacing: 5px;
}
.progress-container {
  width: 100%;
  height: 20px;
  background: #ccc;
}
.progress-bar {
  height: 20px;
  background: black;
  width: 100%;
}
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
p {
    width: 100%;
    line-height: 150px;
    height: 150px;
    background-color: rgb(46, 68, 104);
    -webkit-animation-name: change;
    -webkit-animation-duration: 6s;
    animation-name: change;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}
@keyframes change {
    0% {background-color: black;}
    50% {background-color: rgb(86, 122, 181);}
    100% {background-color: black;}
}
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #b30000;
}
.speech-bubble {
	position: relative;
	background: rgb(86, 122, 181);
	border-radius: .4em;
}

.speech-bubble:after {
	content: '';
	position: absolute;
	top: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 45px solid transparent;
	border-bottom-color: rgb(86, 122, 181);
	border-top: 0;
	border-left: 0;
	margin-left: -22.5px;
	margin-top: -45px;
}
